/*ROBOTO >>> font-family:'Roboto', sans-serif;*/
@import url('https://fonts.googleapis.com/css2? family = Roboto: ital, wght @ 0,100; 0,300; 0,400; 0,500; 0,700; 0,900; 1,100; 1,300; 1,400; 1,500; 1,700; 1,900 & display = swap');
/*Montserrat >>> font-family: 'Montserrat', sans-serif;*/
@import url('https://fonts.googleapis.com/css2? familia = Montserrat: ital, wght @ 0,100; 0,200; 0,300; 0,400; 0,500; 0,600; 0,700; 0,800; 0,900; 1,100; 1,200; 1,300; 1,400; 1,500; 1,600; 1,700; 1,800; 1,900 & display = swap');
/* font-family: "Albert Sans", sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');


/********************************* Estilos Generales ****************************************************/

* {
    /* bordear contenedores para detectar desbordes e irregularidades  */
    outline: 1px solid red; 

    /*esta línea sobrescribe a la línea anterior*/
    outline: none;

    border: none;
    margin: 0px;
    padding: 0px;

  
    list-style: none;
    
    /* Quitar viñetas de las listas*/
    text-decoration: none;
    
    /* Quitar subrayado de los enlaces*/
    border: none;
    
    /*permite incluir el relleno y el borde en el ancho y alto total de un elemento*/
    box-sizing: border-box;

    /* limita el contenido a no ocupar más allá del 100% */
    max-width: 100%;
}


html {
    /* 1rem = 10px
    Explicación:
    1) fonsize por default de html = 16px 
    pero queremos establecerlo en 10px
    2) para ello se realiza el cálculo (10/16) = 0.625
    3) 10px es un 62.5% del font-size por default
    4) Así que establecemos el fontsize en 62.5x
    5) Por lo tanto 1rem ahora será 10px*/
    font-size: 62.5%; 
}

body{
    /* color: #FC9A53; */
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;

    min-height: 100%; /* Asegura que body ocupe toda la altura disponible */
    font-size: 1.2rem;
    font-family: "Albert Sans", sans-serif;
    text-transform: uppercase;

}


/* Div Post-body, Contenedor que envuelve todo el contenido */
.divBody {

    /* background-color:antiquewhite; */
    flex-grow: 1; /* Esto hará que el divBody ocupe todo el espacio disponible */
    min-width: 60%;

    /*
    min-width: 60%;
    max-width: 100%;
    margin: 0 auto;
    flex-grow: 1;
    min-height: 80%;
    */

    /************* Gestión de Layout como Padre de contenedore de la página************/
    display: grid;
    grid-template-areas:
    "header header header header"
    "nav nav nav nav"
    "main main main main"
    "main main main main"
    "main main main main"
    "footer footer footer footer";
    grid-template-columns: repeat(4, 1fr);

    /* grid-template-rows: auto; */
    grid-template-rows: auto 1fr auto; /* Ajusta el tamaño del main dinámicamente */
    
    border-radius: 5px;
    box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.2);
}

.grilla-Sector-1 {
    grid-area: header;
}

.grilla-Sector-2 {
    grid-area: nav;
}

.grilla-Sector-3 {
    grid-area: main;
}

.grilla-Sector-4 {
    grid-area: footer;
}

/********************************* Fin Estilos Generales *********************************************/

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #27272b;
    font-family: 'Roboto';
    font-weight: normal;
    text-transform: uppercase;
    margin: 0px;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
}



/* Estilos de la tabla */
table {
    border-collapse: collapse;
    text-transform: none;

    /*celdas se ajustan al contenido */
    table-layout: auto;

    /* tabla se ajusta a su contenido */
    width: auto;
}

tr {
    border-bottom: 0.1rem solid rgb(150, 150, 150);
}

th,
td {
    padding: 0.8rem;
    padding-right: 3rem;
    text-align: left;
    word-wrap: break-word;
    /* Ajusta el texto para evitar desbordes */
    min-width: 5rem;
    max-width: 20rem;
    background-color: rgba(249, 224, 206, 0.1) !important;
}

th {
    font-weight: 500;
}

td {
    font-weight: 300;
    line-height: 1.55rem; /* Aumenta o reduce según prefieras */
}

td:last-child,
th:last-child {
    padding-right: 0;
    /* Elimina el espacio en la última celda para que no haya un espacio extra al final */
}

header,
nav,
main,
aside,
footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    height: 8rem;
    flex-direction: column;
    justify-content: space-between;
}

.header_DivTitulo{
    margin: auto 0; /* Esto aplicará margen automático arriba y abajo */
}

hr {
    background-color: #62BBC1;
    border: none;
    height: 1rem;
    /* Asegura que ocupe todo el ancho*/
    width: 100%;
    margin: 0;
    padding: 0;
    opacity: 0.8;
}

/********************************* Menú Nav *********************************************/

.nav {
    align-items: center;
    /* justify-content: end; */
}

/* Es el nav con otro nombre,pero aeste se le pone el estilo */
.navbar {
    background: #C66082;
    padding: 5px 10px;
}

.navbar-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-menu li {
    padding: 0;
    margin: 0;
    padding: 0 1rem;
}

.nav-menu li a {
    color: #524964;
    text-decoration: none;
    color: white;
    width: 100%;
}

.nav-menu li a:hover {
    background-color: #eb93b0;
    opacity: 0.7;
    color: #3D3A4B;
}

/* clase declarada en el elemento <a> del menú*/
.escalar {
    padding: 1rem;
    /* Asegúrate de que el elemento se pueda escalar */
    display: inline-block;

    /* Para que el cambio sea suave */
    transition: transform 0.3s ease;
}

.escalar:hover {
    /* Escala el elemento al 120% de su tamaño original */
    transform: scale(1.05);
}

/*button ubicado en el nav*/
.hamburger {
    display: none;
    font-size: 2.1rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding: 0 2rem;
}

/********************************* Fin Menú Nav *********************************************/

/********************************* Elementos Rutilizables *********************************************/


.main {
    /* background-color:aqua; */
    margin: 2.5rem 0;
    padding: 0 0.5rem;

    /*en su condición de parent de sectiones*/
    flex-direction: column;

    /*En su condición de Child de Grilla*/
    justify-self: center;


    /*
    grid-area: main;
    width: 100%;
    padding: 2rem;
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total
    height: 100%; /* Esto asegura que el main ocupe toda la altura disponible */
}

/** Secciones **/
.main_Sec {
    width: 70%;
    align-self: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1.2rem 0.75rem
}

/** Div acordión **/
.Dacordion {
    width: 100%;
    /* Acordeón ocupa todo el ancho de la sección */
}

.main_Sec_DivH--h2{
    color: #FC9A53;
    font-size: 1.8rem;
    padding-bottom: 0.5rem;
    /* padding-top: 1.5rem; */
    padding-left: 0.2rem;
}

.Dacordion_DItem_h2{
    font-family: "Albert Sans", sans-serif;
}

.Dacordion_DItem_h2--button {
    font-size: 1.3rem;
    font-family: "Albert Sans", sans-serif;
    padding: 1rem;
}

.Dacordion_DItem_Dstart--Dcontent {
    background-color: rgba(249, 224, 206, 0.1);
    padding: 0.7rem;
}


.img_lupa {
    width: 2.2rem;
    height: 2.2rem;
    /* background-color: rgba(249, 224, 206, 0.1); */
    background: transparent;
    
}

.footer {
    background-color: #3D3A4B;
    color: #F9E0CE;
    font-size: 1rem;
    width: 100%;
    min-height: 4rem;
    padding: 1.5rem;
}

.footer_p {
    text-align: center;
    margin: 0;
}

.footer_p_spa {
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: none;
}


/****************************** BREACKPOINT  DE BOOSTRAP ********************************************/


/******    (1)     DISPOSITIVO XS ETRA-SMALL    *********/
@media only screen and (min-width: 200px) and (max-width: 576px){
}

/*******    (2)  DISPOSITIVO SM SMALL        *********/
@media only screen and (min-width: 200px) and (max-width: 576px){
}

/********     (3)   DISPOSITIVO MD MEDIANO      *********/
@media only screen and (min-width: 577px) and (max-width: 768px){ 
}

/*******     (4)   DISPOSITIVO LG LARGE      ********/
@media only screen and (min-width: 769px) and (max-width: 992px){ 
}

/*******    (5)   DISPOSITIVO XL EXTRA-LARGE      ********/
@media only screen and (min-width: 993px) and (max-width: 1200px){
}

/********  (6)   DISPOSITIVO XXL EXTRA/EXTRA-LARGE     *******/
@media only screen and (min-width: 1201px) and (max-width: 1400px){
}
