/*ROBOTO >>> font-family:'Roboto', sans-serif;*/
@import url('https://fonts.googleapis.com/css2? family = Roboto: ital, wght @ 0,100; 0,300; 0,400; 0,500; 0,700; 0,900; 1,100; 1,300; 1,400; 1,500; 1,700; 1,900 & display = swap');
/*Montserrat >>> font-family: 'Montserrat', sans-serif;*/
@import url('https://fonts.googleapis.com/css2? familia = Montserrat: ital, wght @ 0,100; 0,200; 0,300; 0,400; 0,500; 0,600; 0,700; 0,800; 0,900; 1,100; 1,200; 1,300; 1,400; 1,500; 1,600; 1,700; 1,800; 1,900 & display = swap');
/* font-family: "Albert Sans", sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');


/********************************* Estilos Generales ****************************************************/

* {
    /* bordear contenedores para detectar desbordes e irregularidades  */
    outline: 1px solid red; 

    /*esta línea sobrescribe a la línea anterior*/
    outline: none;

    border: none;
    margin: 0px;
    padding: 0px;

  
    list-style: none;
    
    /* Quitar viñetas de las listas*/
    text-decoration: none;
    
    /* Quitar subrayado de los enlaces*/
    border: none;
    
    /*permite incluir el relleno y el borde en el ancho y alto total de un elemento*/
    box-sizing: border-box;

    /* limita el contenido a no ocupar más allá del 100% */
    max-width: 100%;
}

html {
    /* 1rem = 10px
       Explicación:
       1) fonsize por default de html = 16px 
          pero queremos establecerlo en 10px
       2) para ello se realiza el cálculo (10/16) = 0.625
       3) 10px es un 62.5% del font-size por default
       4) Así que establecemos el fontsize en 62.5x
       5) Por lo tanto 1rem ahora será 10px*/
    font-size: 62.5%;
}

body{
    font-size: 1rem;
    font-family: "Albert Sans", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
    padding: 0px !important;
    border: solid 1px rgb(0, 0, 0, 0.2);
    box-shadow: rgb(150, 150, 150) 3px 3px 5px;

     /*divide el texto largo en líneas nuevas (usar una de las 2, pero ahora dejaré las 2*/
     word-break: break-word;
     overflow-wrap: break-word;

    /* Evita el desbordamiento horizontal */
    overflow-x: hidden; 
}

/* Div a continuación del body, contendrá toda la página */
.divBody {
    
    display: grid;
    grid-template-areas:
    "header header header header"
    "nav nav nav nav"
    "main main main main"
    "main main main main"
    "main main main main"
    "footer footer footer footer";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    
    margin: 5rem;
    /* este borde es necesario un borde para poder aplicar margin en la caja */
    /* border: #f5f4fc 1px solid;*/
    border-radius: 5px;
    box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.2);
}

.grilla-Sector-1 {
    grid-area: header;
}

.grilla-Sector-2 {
    grid-area: nav;
}

.grilla-Sector-3 {
    grid-area: main;
}

.grilla-Sector-4 {
    grid-area: footer;
}

/********************************* Fin Estilos Generales *********************************************/

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #27272b;
    font-family: 'Roboto';
    font-weight: normal;
    text-transform: uppercase;
    margin: 0px;
}

h1 {
    text-align: center;
    font-size: 2rem;
}



/* Estilos de la tabla */
table {
    font-size: 1rem;
    border-collapse: collapse;
    text-transform: none;

    /*celdas se ajustan al contenido */
    table-layout: auto;

    /* tabla se ajusta a su contenido */
    width: auto;
}

tr {
    border-bottom: 0.1rem solid rgb(150, 150, 150);
}

th,
td {
    padding: 0.8rem;
    padding-right: 3rem;
    text-align: left;
    word-wrap: break-word;
    /* Ajusta el texto para evitar desbordes */
    min-width: 5rem;
    max-width: 20rem;
    background-color: rgba(249, 224, 206, 0.1) !important;
    font-size: 0.9rem;
}

th {
    font-weight: 500;
}

td {
    font-weight: 300;
}

td:last-child,
th:last-child {
    padding-right: 0;
    /* Elimina el espacio en la última celda para que no haya un espacio extra al final */
}

header,
nav,
main,
aside,
footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    height: 6rem;
    flex-direction: column;
    justify-content: space-between;
}

.header_DivTitulo{
    margin: auto 0; /* Esto aplicará margen automático arriba y abajo */
}

hr {
    background-color: #62BBC1;
    border: none;
    height: 0.5rem;
    /* Asegura que ocupe todo el ancho*/
    width: 100%;
    margin: 0;
    padding: 0;
    opacity: 0.9;
}

/********************************* Menú Nav *********************************************/

.nav {
    height: 2.8rem;
    align-items: center;
    /* justify-content: end; */
}

/* Es el nav con otro nombre,pero aeste se le pone el estilo */
.navbar {
    background: #C66082;
    padding: 10px;
    padding: 0;
}

.navbar-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-menu li {
    padding: 0;
    margin: 0;
    padding: 0 1rem;
}

.nav-menu li a {
    color: #524964;
    text-decoration: none;
    padding: 0.8rem;
    font-size: 0.8rem;
    color: white;
    width: 100%;
}

.nav-menu li a:hover {
    /* background-color: #F9E0CE; */
    background-color: #eb93b0;
    opacity: 0.7;
    /* border-radius: 0.5rem; */
    color: #3D3A4B;
}

/* clase declarada en el elemento <a> del menú*/
.escalar {
    display: inline-block;
    /* Asegúrate de que el elemento se pueda escalar */
    transition: transform 0.3s ease;
    /* Para que el cambio sea suave */
}

.escalar:hover {
    transform: scale(1.05);
    /* Escala el elemento al 120% de su tamaño original */
}

.hamburger {
    display: none;
    font-size: 2.1rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding-right: 1rem;
}

/********************************* Fin Menú Nav *********************************************/

/********************************* Elementos Rutilizables *********************************************/


.main {
    margin: 2rem 0;
    padding: 0 0.5rem;

    /*en su condición de parent de sectiones*/
    flex-direction: column;

    /*En su condición de Child de Grilla*/
    justify-self: center;
}

/** Secciones **/
.main_Sec {
    width: 60%;
    align-self: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1.2rem 0.75rem
}

/** Div acordión **/
.Dacordion {
    width: 100%;
    /* Acordeón ocupa todo el ancho de la sección */
}

.main_Sec_DivH--h2{
    color: #FC9A53;
    font-size: 1.3rem;
    padding-bottom: 0.5rem;
    /* padding-top: 1.5rem; */
    padding-left: 0.2rem;
}

.Dacordion_DItem_h2{
    font-family: "Albert Sans", sans-serif;
}

.Dacordion_DItem_h2--button {
    font-size: 1rem;
    font-family: "Albert Sans", sans-serif;
    padding: 0.6rem;
}

.Dacordion_DItem_Dstart--Dcontent {
    background-color: rgba(249, 224, 206, 0.1);
    padding: 0.7rem;
}


.img_lupa {
    width: 2.2rem;
    height: 2.2rem;
    /* background-color: rgba(249, 224, 206, 0.1); */
    background: transparent;
    
}

.footer {
    background-color: #3D3A4B;
    color: #F9E0CE;
    font-size: 1rem;
    width: 100%;
    min-height: 4rem;
    padding: 1.5rem;
}

.footer_p {
    text-align: center;
    margin: 0;
}

.footer_p_spa {
    font-size: 0.85rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: none;
}


/****************************** BREACKPOINT  DE BOOSTRAP ********************************************/


/******    (1)     DISPOSITIVO XS ETRA-SMALL    *********/
@media only screen and (min-width: 200px) and (max-width: 576px){
}

/*******    (2)  DISPOSITIVO SM SMALL        *********/
@media only screen and (min-width: 200px) and (max-width: 576px){
}

/********     (3)   DISPOSITIVO MD MEDIANO      *********/
@media only screen and (min-width: 577px) and (max-width: 768px){ 
}

/*******     (4)   DISPOSITIVO LG LARGE      ********/
@media only screen and (min-width: 769px) and (max-width: 992px){ 
}

/*******    (5)   DISPOSITIVO XL EXTRA-LARGE      ********/
@media only screen and (min-width: 993px) and (max-width: 1200px){
}

/********  (6)   DISPOSITIVO XXL EXTRA/EXTRA-LARGE     *******/
@media only screen and (min-width: 1201px) and (max-width: 1400px){
}
