
.footer {
    background-color: #3D3A4B;
    color: #F9E0CE;
    width: 100%;
    min-height: 4rem;
    padding: 1.5rem;
}

.footer_p {
    text-align: center;
    margin: 0;
}

.footer_p_spa {
    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: none;
}
