

// Definen Variables para Colores y otros Estilos

$font-doc: 'Montserrat';
$font-title:'Roboto';

$color-hr-bg: #62BBC1;
$color-nav-bg: #C66082;
$color-nav-menu: #eb93b0;
$color-nav-menu-burger: rgba(250, 234, 214, 0.5);
$color-h2: #FC9A53;
$color-footer-bg: #3D3A4B;
$color-hover: #ffffff;
$color-border: rgba(0, 0, 0, 0.1);
